/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    APP
*/
main {
  text-align: center;
}

body {
    font-family: "Poppins", serif !important;
    font-weight: 400;
    font-style: normal;
}